@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: PottaOne;
  src: url("../public/PottaOne-Regular.ttf");
}

.pottaOne {
  font-family: PottaOne;
}

@layer components {
  .link {
    @apply mx-4 mr-5 text-base font-normal transition duration-300 ease-in-out cursor-pointer hover:underline hover:text-blue-600;
  }
  .button {
    @apply inline-flex items-center px-3 py-2 mt-4 text-base transition duration-300 ease-in-out border-2 border-blue-500 rounded hover:bg-blue-400 hover:border-white hover:text-white focus:outline-none md:mt-0;
  }
  .section {
    @apply flex items-center justify-center min-h-screen px-16 text-white bg-black lg:px-52;
  }
}
